<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prism Color Picker</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="prism.css">
</head>
<body>
{% block content %}{% endblock %}
<script src="prism.js"></script>
</body>
</html>